<html ng-app="ngTodo">

<head>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>

<body>

	<div></div>
	<div ng-controller="mainController">
                   <input type ="text" ng-model="query" placeholder="Search">
		title:<input type="text" ng-model="user.name">
                details:<input type="text" ng-model="user.details"> 
		<button ng-click="addEngineer(user.name,user.details)">
			Add
		</button>
		<h1>Engineers</h1>
		<ul>
			<li ng-repeat="engineer in engineers | filter: query">
				<p>{{ engineer.name }}</p>
                                 <p>{{ engineer.position}}<p> 
				<button ng-click="deleteEngineer($index)">Delete
				</button>
			</li>
		</ul>
	</div>
	<div></div>
	<div></div>

</body>

</html>

